/* COMMON */
body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}

img {
    display: block;
}
a {
    text-decoration: none;
}

/* INNER */
.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

/* BUTTON */
.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}
.btn:hover {
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse {
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse:hover {
    background-color: transparent;
    color: #333; 
}
.btn.btn--brown {
    color: #592B18;
    border-color: #592B18;
}
.btn.btn--brown:hover {
    color: #FFF;
    background-color: #592B18;
}
.btn.btn--gold {
    color: #D9AA8A;
    border-color: #D9AA8A;
}
.btn.btn--gold:hover {
    color: #FFF;
    background-color: #D9AA8A;
}
.btn.btn--white {
    color: #FFF;
    border-color: #FFF;
}
.btn.btn--white:hover {
    color: #333;
    background-color: #FFF;
}

/* BACK TO POSITION */
.back-to-position {
    opacity: 0;
    transition: 1s;
}
.back-to-position.to-right { /* 왼쪽에서 오른쪽으로 나타나는 애니메이션 */
    transform: translateX(-150px);
}
.back-to-position.to-left { /* 오른쪽에서 왼쪽으로 나타나는 애니메이션 */
    transform: translateX(150px);
}
.show .back-to-position {
    opacity: 1;
    transform: translateX(0); /* 원래의 위치로 이동 */
}
.show .back-to-position.delay-0 {
    transition-delay: 0s;
}
.show .back-to-position.delay-1 {
    transition-delay: .3s;
}
.show .back-to-position.delay-2 {
    transition-delay: .6s;
}
.show .back-to-position.delay-3 {
    transition-delay: .9s;
}


/* HEADER */
header {
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    top: 0;
    z-index: 9;
}
header > .inner {
    height: 120px;
}
header .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
header .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}
header .sub-menu ul.menu {
    font-family: Arial, sans-serif;
    display: flex;
}
header .sub-menu ul.menu li {
    position: relative;
}
header .sub-menu ul.menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
header .sub-menu ul.menu li:first-child::before {
    display: none;
}
header .sub-menu ul.menu li a {
    font-size: 12px;
    padding: 11px 16px;
    display: block;
    color: #656565;
}
header .sub-menu ul.menu li a:hover {
    color: #000;
}
header .sub-menu .search {
    height: 34px;
    position: relative;
}
header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .4s;
}
header .sub-menu .search input:focus{
    width: 190px;
    border-color: #669900;
}
header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}
header .sub-menu .search.focused .material-icons {
    opacity: 0;
}
header .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
}
header .main-menu .item .item__name {
    padding: 10px 20px 34px 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
header .main-menu .item:hover .item__name {
    background-color: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
}
header .main-menu .item:hover .item__contents {
    display: block;
}
header .main-menu .item .item__contents .contents__menu {
    background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
    display: flex;
    padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
   width: 220px; 
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul li ul li:hover {
    color: #669900;
}
header .main-menu .item .item__contents .contents__texture {
    padding: 26px 0;
    font-size: 12px;
    background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4 {
    color: #999;
    font-weight: 900;
}
header .main-menu .item .item__contents .contents__texture p {
    color: #669900;
    margin: 4px 0 14px;
}
/* BADGES */
header .badges {
    position: absolute;
    top: 132px;
    right: 12px;
} 
header .badges .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.15);
    cursor: pointer;
}


/* VISUAL */
.visual {
    margin-top: 120px;
    background-image: url("../images/visual_bg.jpg");
    background-position: center;
}
.visual .inner {
    height: 646px;
}
.visual .tittle {
    position: absolute;
    top: 88px;
    left:-10px;
}
.visual .tittle .btn {
    position: absolute;
    top: 259px;
    left: 173px;
}
.visual .cup1.image {
    position:absolute;
    bottom: 0;
    right: -47px;
}
.visual .cup1.text {
    position: absolute;
    top: 38px;
    right: 171px;
}
.visual .cup2.image {
    position: absolute;
    bottom: 0;
    right: 162px;
}
.visual .cup2.text {
    position: absolute;
    top: 321px;
    right: 416px;
}
.visual .spoon {
    position: absolute;
    bottom: 0;
    left: 275px;
}
.visual .fade-in {
    opacity: 0;
}


/* NOTICE */
/* NOTICE LINE */
.notice .notice-line {
    position: relative;
}
.notice .notice-line .bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}   
.notice .notice-line .bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
}
.notice .notice-line .inner {
    height: 62px;
    display: flex;
}
.notice .notice-line .inner__left {
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
} 
.notice .notice-line .inner__left h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}
.notice .notice-line .inner__left .swiper {
    height: 62px;
    flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-slide {
    height: 62px;
    display: flex;
    align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
    color: #fff;
}
.notice .notice-line .inner__left .notice-line__more {
    width: 62px;
    height: 62px;
    display: flex; /* 가운데 정렬 */
    justify-content: center; /* 수평 가운데 */
    align-items: center; /* 수직 가운데 */
}   
.notice .notice-line .inner__left .notice-line__more .material-icons {
    color: #fff;
    font-size: 30px;
}
.notice .notice-line .inner__right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.notice .notice-line .inner__right h2 {
    font-size: 17px;
    font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion {
    width: 62px;
    height: 62px;
    cursor: pointer; /* toggle-promotion은 a 태그로 만든게 아니므로 마우스를 화살표 모양으로 바꿔서 사용자에게 클릭이 가능함을 알림 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
    font-size: 30px;
}
/* PROMOTION */
.notice .promotion {
    height: 693px;
    background-color: #f6f5ef;
    position: relative;
    transition: height .4s;
    overflow: hidden;  /* 크기가 줄어들면서 영역 밖으로 내용이 넘치는 것을 자름 */
} 
.notice .promotion.hide { /* 일치선택자 promotion 요소에 hide 클래스가 붙어있는 경우를 의미하도록 띄어쓰기X */
    height: 0;
}
.notice .promotion .swiper {
    width: calc(819px * 3 + 20px);
    height: 553px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: calc((819px * 3 + 20px) / -2);
} 
.notice .promotion .swiper-slide {
    opacity: .5;
    transition: opacity 1s;
    position: relative;
}
.notice .promotion .swiper-slide-active {
    opacity: 1;
}
.notice .promotion .swiper-slide .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.notice .promotion .swiper-pagination {
    bottom: 40px;
    left: 0;
    right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    background-image: url("../images/promotion_slide_pager.png");
    width: 12px;
    height: 12px;
    margin-right: 6px;
    outline: none; 
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0; 
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../images/promotion_slide_pager_on.png");
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next { /* 다중 선택자 */
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    z-index: 1; /* 슬라이드 보다 위에 쌓이게 */
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: .4s;
}
.notice .promotion .swiper-prev {
    left: 50%;
    margin-left: -480px;
}
.notice .promotion .swiper-next {
    right: 50%;
    margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
    background-color: #333;
    color: #fff;
}

/* REWARDS */
.rewards {
    position: relative;
}
.rewards .bg-left {
    width: 50%;
    height: 100%;
    background-color: #272727;
    position: absolute;
    top: 0;
    left: 0;
}
.rewards .bg-right {
    width: 50%;
    height: 100%;
    background-color: #d5c798;
    position: absolute;
    top: 0;
    right: 0;
}
.rewards .inner {
    background-image: url("../images/rewards.jpg");
    height: 241px;
}
.rewards .btn-group {
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}
.rewards .btn-group .btn.sign-up {
    margin-right: 10px;
}
.rewards .btn-group .btn.sign-in {
    width: 110px;
}
.rewards .btn-group .btn.gift {
    margin-top: 10px;
    flex-grow: 1;
}


/* YOUTUBE VIDEO */
.youtube {
    position: relative;
    height: 700px;
    background-color: #333;
    overflow: hidden;
}
.youtube .youtube__area {
    width: 1920px;
    background-color: orange;
    position: absolute;
    left: 50%;
    margin-left: calc(1920px / -2);
    top: 50%;
    margin-top: calc(1920px * 9 / 16 / -2);
}
.youtube .youtube__area::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 16:9 비율 */
} 
/* html 요소를 추가하지 않고 css 만으로 가상의 요소를 만들어서 content를 추가함 */
.youtube .youtube__cover {
    background-image: url(../images/video_cover_pattern.png);
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
}
.youtube .inner {
    height: 700px;
}
.youtube .floating1 {
    position: absolute; /* inner 클래스 요소에는 공통적으로 position: absolute를 지정해놨기 때문에 부모요소에 posiiton 값을 추가하지 않아도 됨 */
    top: 50px;
    left: 0;
}
.youtube .floating2 {
    position: absolute; 
    top: 350px;
    left: 150px;
}


/* SEASON PRODUCT */
.season-product {
    background-image: url("../images/season_product_bg.jpg");
}
.season-product .inner {
    height: 400px;
}
.season-product .floating3 {
    position: absolute; 
    top: -200px;
    right: 0;
}
.season-product .text-group {
    position: absolute;
    top: 110px;
    right: 100px;
}
.season-product .text-group .title {
    margin-bottom: 10px;
}
.season-product .text-group .description {
    margin-bottom: 15px;
}


/* RESERVE COFFEE */
.reserve-coffee {
    background-image: url("../images/reserve_bg.jpg");
}
.reserve-coffee .inner {
    height: 400px;
}
.reserve-coffee .reserve-logo {
    position: absolute;
    top: 110px;
    left: 0;   
}
.reserve-coffee .text-group {
    position: absolute;
    top: 124px;
    left: 208px;
}
.reserve-coffee .product {
    position: absolute;
    top: 0;
    right: 0;
}


/* PICK YOUR FAVORITE */
.pick-your-favorite {
    background-image: url("../images/favorite_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.pick-your-favorite .inner {
    padding: 110px 0;
}
.pick-your-favorite .text-group {
    margin-left: 100px;
    width: 362px;
    display: flex;
    flex-wrap: wrap;  /* flex-container의 너비가 모자라서 요소를 수평정렬 할 수 없다면 줄바꿈 가능 */
    justify-content: flex-end; /* 우측정렬, 수평의 끝점에 맞추기*/
}
.pick-your-favorite .text-group .title {
    margin-bottom: 40px;
}
.pick-your-favorite .text-group .description {
    margin-bottom: 40px;
}


/* RESERVE SOTRE */
.reserve-store {
    background-image: url("../images/reserve_store_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}
.reserve-store .inner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reserve-store .medal {
    width: 334px;
    height: 334px;
    perspective: 600px;
}
.reserve-store .medal .front,
.reserve-store .medal .back { /* 다중 선택자 */
    width: 334px;
    height: 334px;
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
}
.reserve-store .medal .front {
    transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
    transform: rotateY(180deg);
}
.reserve-store .medal .back {
    transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
    transform: rotateY(0deg);
}
.reserve-store .medal .back .btn {
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto;   
}


/* FIND STORE */
.find-store {
    background-image: url("../images/find_store_bg.jpg");
}
.find-store .inner {
    height: 400px;
}
.find-store .texture1 {
    position: absolute;
    top: 0;
    left: 400px;
}
.find-store .texture2 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.find-store .picture {
    position: absolute;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}
.find-store .picture1 {
    top: -60px;
    left: 0;
}
.find-store .picture2 {
    top: 150px;
    left: 250px;
}
.find-store .text-group {
    position: absolute;
    top: 120px;
    left: 550px;
}
.find-store .text-group .title {
    margin-bottom: 20px;
}
.find-store .text-group .description {
    margin-bottom: 20px;
}


/* AWARDS */
.awards {
    background-color: #272727;
}
.awards .inner {
    padding: 40px 0;
}
.awards .swiper {
    width: 100%;
    height: 40px;
}
.awards .swiper-prev,
.awards .swiper-next {
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none;
    color: #fff;
    opacity: .3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.awards .swiper-prev {
    left: -100px;
}
.awards .swiper-next {
    right: -100px;
}
.awards .swiper-prev:hover,
.awards .swiper-next:hover {
    background-color: #fff;
    columns: #333;
}


/* FOOTER */
footer {
    background-color: #272727;
    border-top: 1px solid #333;
}
footer .inner {
    padding: 40px 0 60px 0;
}
footer .menu {
    display: flex;
    justify-content: center;
}
footer .menu li {
    position: relative;
}
footer .menu li::before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}
footer .menu li:last-child::before {
    display: none;
}
footer .menu li a {
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    padding: 15px; /* 인라인 요소는 여백 속성에 위, 아래 값을 정상적으로 사용할 수 없음 -> inline에서 block으로 변경, 사용자가 요소를 클릭할 범위를 늘리기 위함 */
    display: block;
}
footer .menu li a.green {
    color: #669900;
}
footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer .btn-group .btn {
    font-size: 12px;
    margin-right: 10px;
}
footer .btn-group .btn:last-child {
    margin-right: 0;
}
footer .info {
    margin-top: 30px;
    text-align: center;
}
footer .info span { /* 수평정렬할 필요 X */
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}
footer .info span:last-child {
    margin-right: 0;
}
footer .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}
footer .logo {
    margin: 30px auto 0;
}

/* SCROLL TO TOP */
#to-top {
    width: 42px;
    height: 42px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}